/* latin-ext */
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src:
        local("Lato Italic"),
        local("Lato-Italic"),
        url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2)
            format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src:
        local("Lato Italic"),
        local("Lato-Italic"),
        url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    src:
        local("Lato Bold Italic"),
        local("Lato-BoldItalic"),
        url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2)
            format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    src:
        local("Lato Bold Italic"),
        local("Lato-BoldItalic"),
        url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src:
        local("Lato Regular"),
        local("Lato-Regular"),
        url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2)
            format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src:
        local("Lato Regular"),
        local("Lato-Regular"),
        url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src:
        local("Lato Bold"),
        local("Lato-Bold"),
        url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2)
            format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src:
        local("Lato Bold"),
        local("Lato-Bold"),
        url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: "lato", Helvetica;
    font-size: 18px;
}

.title {
    font-family: Palatino, Helvetica;
}

.footer a {
    /*font-size: 25px;*/
    /* color: #000; */
}

.large-font {
    font-size: 25px;
}



.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
    font-variant: small-caps;
}

.teaser .hero-body {
    padding-top: 5em;
    padding-bottom: 5rem;
}

/* .teaser {
  font-family: 'Google Sans', sans-serif;
} */



.publication-banner {
    max-height: parent;
}

.publication-banner video {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: Palatino;
}

/* .hero.is-link .title{
    color: #4286f4;
} */

.publication-subtitle {
    font-family: Palatino;
}

.publication-authors {
    font-family: Palatino;
    font-weight: bolder;
}

.publication-venue {
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    font-family: Palatino;
    font-weight: bolder;
}

.publication-authors {
}

/* .publication-authors a {
   color: hsl(204, 86%, 53%) !important;
} */

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
    display: inline-block;
}

.publication-banner img {
}

.publication-video {
    position: relative;
    width: 95%;
    height: 0;
    padding-bottom: 53%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #bbb;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
    overflow: hidden;
}

.results-carousel .item {
    margin: 5px;
    overflow: hidden;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 0;
    font-size: 0;
}

.results-carousel video {
    margin: 0;
}

.hero.is-link{
    background-color: #000;
}

.interpolation-panel {
    /* background: #f5f5f5; */
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.interpolation-panel .interpolation-image {
    width: 100%;
    border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
    margin: 0 !important;
}

.interpolation-panel .slider {
    margin: 0 !important;
}

#interpolation-image-wrapper {
    width: 100%;
}
#interpolation-image-wrapper img {
    border-radius: 5px;
}

.bottom_buttons[disabled] {
    opacity: 0.4;
}

.brmod {
    display: block;
    margin-top: 0.5em;
}
